<div class="text-center">
    <h3>Random passcode (passcode # <span class="count">0</span>)</h3>
    <div class="randomSringWrapper">
        <h5 class="randomPass">(Click button to generate random passcode)</h5>
    </div>
    <button class="btn btn-primary" onClick="ajaxCall()">Generate</button>
</div>